    <!DOCTYPE html>
    <html lang="en">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <head>
    	<meta charset="utf-8">
    	<title>Zoning Lookup</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <div class="container">
    <div>
        <nav class="navbar navbar-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">TweetAnalyzer</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="javascript:history.back()">Back</a></li>
                </ul>
            </div>
        </nav>
    </div>

        <div class="page-header">
            <h3> Features </h3>
        </div>
    <center>



    		<form action="/userfeatures" method="POST" name="Contact">

            <input type="submit" name="SU" class="btn btn-info" value="Similar Users">
            <input type="submit" name="AT" class="btn btn-info" value="Associated Tags">
                <input type="submit" name="PS" class="btn btn-info" value="Popular Sentiment">
    		</form>
    </center>
    </div>>
    </html>