    <!DOCTYPE html>
    <html lang="en">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <head>
    	<meta charset="utf-8">
    	<title> Tweet Analyzer</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body>
<div class="container">
    <div>
        <nav class="navbar navbar-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><b>TweetAnalyzer</b></a>
                </div>
            </div>
        </nav>
    </div>
    <center>
     <div   class="page-header">
    <h3> Domains </h3>
         </div>

    		<form action="/" method="POST" name="Contact">

            <input type="submit" name="ML" class="btn btn-info" value="Machine Learning and AI">
            <input type="submit" name="DB" class="btn btn-info" value="Databases">
                <input type="submit" name="SE" class="btn btn-info" value="Software Engineering">
            <input type="submit" name="PR" class="btn btn-info" value="Programming">
                <input type="submit" name="CC" class="btn btn-info" value="Cloud Computing">


    		</form>
    </center>
</div>
</body>
    </html>