<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="container">
    <div>
        <nav class="navbar navbar-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><b>TweetAnalyzer</b></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="javascript:history.back()">Back</a></li>
                </ul>
            </div>
        </nav>
    </div>
        <div class="page-header">
                <h3>Popular Tweets</h3>
        </div>
 {% for your_list_element in range(6) %}
     <div>
     <h4> Retweeted by user : {{ userlist[your_list_element] }} </h4>
    <center>  <blockquote class="twitter-tweet"><a href="http://twitter.com/coffee_dad/status/{{ your_list[your_list_element] }}">link</a></blockquote> </center>
         <div align="center">
             <form action="/flag" method="POST" name="Contact">
             <input type="submit" name="{{ your_list_element }}" class="btn btn-info" value="Flag Inappropriate">
             </form>
         </div>
     </div>
  {% endfor %}
        <div class="page-header">
            <h3> Search similar tweets</h3>
        </div>

<div align="center">

 <form action="/searchtweet" method="POST" name="searchtweet">
     <input name="text">
 <input type="submit" name="search" class="btn btn-info" value="Search">
 </form>
</div>
 <div class="page-header">
<h3>Analyze a user</h3>
 </div>
<div align="center">

 <form action="/analyzeusers" method="POST" name="analyzeusers">
     <input name="username">
 <input type="submit" name="search" class="btn btn-info" value="Search">
 </form>
</div>
</div>